.idea
# wallet
*.aar
*.jar
*_test.go
*.zip
cmd-test
temp.go
tls.cert
tls.key
*.macaroon
*.exe
*.exe~
*.db
*.log
# environment
.env
.env.local
frpc.ini
frpc.yaml
config.yaml
./cmd/main.go
etc/*
logs/*
!etc/config.txt.example
!etc/config.yaml.example

build_*

