go 1.24.0

use (
	.
	./lib/btcutil@v1.1.5
	./lib/cert@v1.2.2
	./lib/frp-0.62.0
	./lib/lightning-terminal-0.15.1-alpha
	./lib/taproot-assets-0.6.1
	./lib/taproot-assets-0.6.1/taprpc
	./lib/lnd-0.19.2-beta
)

replace google.golang.org/protobuf => github.com/lightninglabs/protobuf-go-hex-display v1.34.2-hex-display
